html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #424242;
  min-width: 230px;
  max-width: 550px;
  margin: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}